---
name: Lint
'on': [push, pull_request]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
      # uses .markdownlint.yml for configuration
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v10
        with:
          globs: |
           *.md
           .github/**/*.md
      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: |
            .github/workflows/**/*.yml
            .*.yml
          strict: true
          config_file: .yamllint.yml
